name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@latest
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@latest
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@latest 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2.6.1
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
           ghcr.io/${{ github.repository_owner }}/tenderseed:latest
